Py City School Analysis

In [1]:
#Load dependencies
import os
import pandas as pd

#Define data files to import
schoolrawdata = 'Resources/schools_complete.csv'
studentrawdata = 'Resources/students_complete.csv'

#Read data files into Panda data frames
schooldata = pd.read_csv(schoolrawdata)
studentdata = pd.read_csv(studentrawdata)

#Check for issues involving null values and column names using shooldata.count() and studentdata.count()
#Merge data frames into one for analysis
studentcomplete = pd.merge(studentdata, schooldata, how='left', on=['school_name', 'school_name'])

District Summary

In [2]:
#Calculate total district schools, students, budget
totalschools = len(schooldata['school_name'])
totalstudents = (studentdata['student_name'].count())
totalbudget = schooldata['budget'].sum()

#Calculate district average math and reading scores
avgmath = studentdata['math_score'].mean()
avgread = studentdata['reading_score'].mean()

#Calculate district Student % passing math and reading
mathpass = (((studentdata['math_score'] >= 70).sum())/totalstudents)*100
readpass = (((studentdata['reading_score'] >= 70).sum())/totalstudents)*100

#Calculate district overall passing and true overall passing (those students passing math and reading)
overallpass = (mathpass+readpass)/2
trueoverallpass = ((((studentdata['reading_score'] >= 70) & (studentdata['math_score'] >= 70)).sum())/totalstudents)*100

#Create district summary
district = pd.DataFrame({
    'Total Schools':[totalschools],
    'Total Students':[totalstudents],
    'Total Budget':[totalbudget],
    'Average Math Score':[avgmath],
    'Average Reading Score':[avgread],
    '% Passing Math':[mathpass],
    '% Passing Reading':[readpass],
    '% Overall Passing Rate':[overallpass],
    'True % Overall Passing Rate':[trueoverallpass]})

#Format district summary dataframe for output
district['Total Students'] = district['Total Students'].map('{:,}'.format)
district['Total Budget'] = district['Total Budget'].map('${:,.2f}'.format)
district['Average Math Score'] = district['Average Math Score'].map('{:.2f}'.format)
district['Average Reading Score'] = district['Average Reading Score'].map('{:.2f}'.format)
district['% Passing Math'] = district['% Passing Math'].map('{:.2f}%'.format)
district['% Passing Reading'] = district['% Passing Reading'].map('{:.2f}%'.format)
district['% Overall Passing Rate'] = district['% Overall Passing Rate'].map('{:.2f}%'.format)
district['True % Overall Passing Rate'] = district['True % Overall Passing Rate'].map('{:.2f}%'.format)

#Display summary table
district

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate,True % Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,80.39%,65.17%

School Summary

In [3]:
#Create school variables for type, size, total budget and per student budget
schooltype = schooldata.set_index('school_name')['type']
schoolsize = schooldata.set_index('school_name')['size']
schoolbudget = schooldata.set_index('school_name')['budget']
studentbudget = schooldata.set_index('school_name')['budget']/schooldata.set_index('school_name')['size']

#Calculate school average math and reading scores and % passing math and reading
schoolgroup = studentcomplete.set_index('school_name').groupby(['school_name'])
schoolavgmath = schoolgroup['math_score'].mean()
schoolavgread = schoolgroup['reading_score'].mean()
schoolmathpass = (studentcomplete[studentcomplete['math_score'] >= 70].groupby(['school_name'])['student_name'].count()/schoolsize)*100
schoolreadpass = (studentcomplete[studentcomplete['reading_score'] >= 70].groupby(['school_name'])['student_name'].count()/schoolsize)*100

#Calculate school overall passing and true overall passing (those students passing math and reading)
schooloverallpass = (schoolmathpass+schoolreadpass)/2
schooltrueoverallpass = (studentcomplete[(studentcomplete['math_score'] >= 70)&(studentcomplete['reading_score'] >= 70)].groupby(['school_name'])['student_name'].count()/schoolsize)*100

#Create school summary
schools = pd.DataFrame({
    'School Type':(schooltype),
    'School Size':(schoolsize),
    'School Budget':(schoolbudget),
    'Per Student Budget':(studentbudget),
    'School Average Math Score':(schoolavgmath),
    'School Average Reading Score':(schoolavgread),
    'School % Passing Math':(schoolmathpass),
    'School % Passing Reading':(schoolreadpass),
    'School % Overall Passing Rate':(schooloverallpass),
    'School True % Overall Passing Rate':(schooltrueoverallpass)})

#Create dataframe for formatting for output
school = schools[[
    'School Type',
    'School Size', 
    'School Budget',
    'Per Student Budget',
    'School Average Math Score',
    'School Average Reading Score',
    'School % Passing Math',
    'School % Passing Reading',
    'School % Overall Passing Rate',
    'School True % Overall Passing Rate']]

#Format school summary dataframe for output
school['School Size'] = school['School Size'].map('{:,}'.format)
school['School Budget'] = school['School Budget'].map('${:,.2f}'.format)
school['Per Student Budget'] = school['Per Student Budget'].map('${:,.2f}'.format)
school['School Average Math Score'] = school['School Average Math Score'].map('{:.2f}'.format)
school['School Average Reading Score'] = school['School Average Reading Score'].map('{:.2f}'.format)
school['School % Passing Math'] = school['School % Passing Math'].map('{:.2f}%'.format)
school['School % Passing Reading'] = school['School % Passing Reading'].map('{:.2f}%'.format)
school['School % Overall Passing Rate'] = school['School % Overall Passing Rate'].map('{:.3f}%'.format)
school['School True % Overall Passing Rate'] = school['School True % Overall Passing Rate'].map('{:.3f}%'.format)

#Display summary table
school

,School Type,School Size,School Budget,Per Student Budget,School Average Math Score,School Average Reading Score,School % Passing Math,School % Passing Reading,School % Overall Passing Rate,School True % Overall Passing Rate
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,74.307%,54.642%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,95.587%,91.335%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,73.364%,53.204%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,73.804%,54.290%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,95.266%,90.599%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,73.808%,53.528%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,94.379%,89.227%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,73.500%,53.514%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,73.640%,53.539%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,95.270%,90.541%
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,73.293%,52.988%
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,94.861%,89.892%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,95.291%,90.948%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,95.204%,90.583%
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,94.972%,90.333%

Top Performing School (By Passing Rate)

In [4]:
#Sort school data summary and display top 5 schools
bestschool = school.sort_values('School % Overall Passing Rate', ascending=False)
bestschool.head(5)

,School Type,School Size,School Budget,Per Student Budget,School Average Math Score,School Average Reading Score,School % Passing Math,School % Passing Reading,School % Overall Passing Rate,School True % Overall Passing Rate
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,95.587%,91.335%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,95.291%,90.948%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,95.270%,90.541%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,95.266%,90.599%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,95.204%,90.583%

Bottom Performing School (By Passing Rate)

In [5]:
#Sort school data summary and display bottom 5 schools
worstschool = school.sort_values('School % Overall Passing Rate')
worstschool.head(5)

,School Type,School Size,School Budget,Per Student Budget,School Average Math Score,School Average Reading Score,School % Passing Math,School % Passing Reading,School % Overall Passing Rate,School True % Overall Passing Rate
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,73.293%,52.988%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,73.364%,53.204%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,73.500%,53.514%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,73.640%,53.539%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,73.804%,54.290%

Math Scores by Grade

In [6]:
#Calculate the mean math score for each grade at all schools
gradeavg = studentcomplete.groupby(['school_name', 'grade'])['math_score'].mean().unstack('grade')

#Format math score table for output
del gradeavg.columns.name
schgradeavg = gradeavg[['9th', '10th', '11th', '12th']]
gradeavgmath = schgradeavg.rename(columns = {'9th':'9th Math Score', '10th':'10th Math Score', '11th':'11th Math Score', '12th':'12th Math Score'})
gradeavgmath['9th Math Score'] = gradeavgmath['9th Math Score'].map('{:.2f}'.format)
gradeavgmath['10th Math Score'] = gradeavgmath['10th Math Score'].map('{:.2f}'.format)
gradeavgmath['11th Math Score'] = gradeavgmath['11th Math Score'].map('{:.2f}'.format)
gradeavgmath['12th Math Score'] = gradeavgmath['12th Math Score'].map('{:.2f}'.format)

#Display math score table
gradeavgmath

,9th Math Score,10th Math Score,11th Math Score,12th Math Score
school_name,,,,
Bailey High School,77.08,77.00,77.52,76.49
Cabrera High School,83.09,83.15,82.77,83.28
Figueroa High School,76.40,76.54,76.88,77.15
Ford High School,77.36,77.67,76.92,76.18
Griffin High School,82.04,84.23,83.84,83.36
Hernandez High School,77.44,77.34,77.14,77.19
Holden High School,83.79,83.43,85.00,82.86
Huang High School,77.03,75.91,76.45,77.23
Johnson High School,77.19,76.69,77.49,76.86
Pena High School,83.63,83.37,84.33,84.12
Rodriguez High School,76.86,76.61,76.40,77.69
Shelton High School,83.42,82.92,83.38,83.78
Thomas High School,83.59,83.09,83.50,83.50
Wilson High School,83.09,83.72,83.20,83.04
Wright High School,83.26,84.01,83.84,83.64

Reading Scores by Grade

In [7]:
#Calculate the mean reading score for each grade at all schools
gradeavg = studentcomplete.groupby(['school_name', 'grade'])['reading_score'].mean().unstack('grade')

#Format reading score table for output
del gradeavg.columns.name
schgradeavg = gradeavg[['9th', '10th', '11th', '12th']]
gradeavgread = schgradeavg.rename(columns = {'9th':'9th Reading Score', '10th':'10th Reading Score', '11th':'11th Reading Score', '12th':'12th Reading Score'})
gradeavgread['9th Reading Score'] = gradeavgread['9th Reading Score'].map('{:.2f}'.format)
gradeavgread['10th Reading Score'] = gradeavgread['10th Reading Score'].map('{:.2f}'.format)
gradeavgread['11th Reading Score'] = gradeavgread['11th Reading Score'].map('{:.2f}'.format)
gradeavgread['12th Reading Score'] = gradeavgread['12th Reading Score'].map('{:.2f}'.format)

#Display reading score table
gradeavgread

,9th Reading Score,10th Reading Score,11th Reading Score,12th Reading Score
school_name,,,,
Bailey High School,81.30,80.91,80.95,80.91
Cabrera High School,83.68,84.25,83.79,84.29
Figueroa High School,81.20,81.41,80.64,81.38
Ford High School,80.63,81.26,80.40,80.66
Griffin High School,83.37,83.71,84.29,84.01
Hernandez High School,80.87,80.66,81.40,80.86
Holden High School,83.68,83.32,83.82,84.70
Huang High School,81.29,81.51,81.42,80.31
Johnson High School,81.26,80.77,80.62,81.23
Pena High School,83.81,83.61,84.34,84.59
Rodriguez High School,80.99,80.63,80.86,80.38
Shelton High School,84.12,83.44,84.37,82.78
Thomas High School,83.73,84.25,83.59,83.83
Wilson High School,83.94,84.02,83.76,84.32
Wright High School,83.83,83.81,84.16,84.07

Scores by School Spending

In [8]:
#Create spending bins and sort data into the bins for analysis
spendingbins = [0, 585, 615, 645, 675]
spendbinnames = ['<$585', '$585-615', '$615-645', '$645-675']
schools['Spending Range'] = pd.cut(schools['Per Student Budget'], spendingbins, labels=spendbinnames)

#Calculate the average math and reading scores, % passing math and reading, and overall passing rates
spend = schools.groupby(['Spending Range'])['School Average Math Score','School Average Reading Score', 'School % Passing Math',
                                           'School % Passing Reading', 'School % Overall Passing Rate', 'School True % Overall Passing Rate'].mean()

#Display scores by school spending table
spend

,School Average Math Score,School Average Reading Score,School % Passing Math,School % Passing Reading,School % Overall Passing Rate,School True % Overall Passing Rate
Spending Range,,,,,,
<$585,83.455399,83.933814,93.460096,96.610877,95.035486,90.369459
$585-615,83.599686,83.885211,94.230858,95.900287,95.065572,90.216324
$615-645,79.079225,81.891436,75.668212,86.106569,80.887391,66.112060
$645-675,76.997210,81.027843,66.164813,81.133951,73.649382,53.526855

Scores by School Size

In [9]:
#Create size bins and sort data into the bins for analysis
sizebins = [0, 1000, 2000, 5000]
sizenames = ['Small(<1000)', 'Medium (1000-2000)', 'Large (2000-5000)']
schools['Size of School'] = pd.cut(schools['School Size'], sizebins, labels=sizenames)

#Calculate the average math and reading scores, % passing math and reading, and overall passing rates
size = schools.groupby(['Size of School'])['School Average Math Score','School Average Reading Score', 'School % Passing Math',
                                           'School % Passing Reading', 'School % Overall Passing Rate', 'School True % Overall Passing Rate'].mean()

#Display scores by school size table
size

,School Average Math Score,School Average Reading Score,School % Passing Math,School % Passing Reading,School % Overall Passing Rate,School True % Overall Passing Rate
Size of School,,,,,,
Small(<1000),83.821598,83.929843,93.550225,96.099437,94.824831,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,95.195187,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,76.364998,58.286003

Scores by School Type

In [10]:
#Calculate the average math and reading scores, % passing math and reading, and overall passing rates
schooltype = schools.groupby(['School Type'])['School Average Math Score','School Average Reading Score', 'School % Passing Math',
                                           'School % Passing Reading', 'School % Overall Passing Rate', 'School True % Overall Passing Rate'].mean()

#Display scores by school type table
schooltype

,School Average Math Score,School Average Reading Score,School % Passing Math,School % Passing Reading,School % Overall Passing Rate,School True % Overall Passing Rate
School Type,,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,95.103660,90.432244
District,76.956733,80.966636,66.548453,80.799062,73.673757,53.672208